.container
  = render '/devise/shared/side_bar'
  .chat
    .chat-header
      .chat-header__title
        サッカー
      .chat-header__edit
        = link_to 'Edit', edit_group_path(@group)
      .chat-header__memberName
        Member：shibata
    .messages
      = render partial: 'message', collection: @messages
    .formarea
      = form_for [@group, @message], html:{} do |f|
        .formarea__forms
          = f.text_field :content, class: 'formarea__forms__form', placeholder: "type a message"
          .formarea__forms-icon
            = f.label :image, class: 'formarea__forms-icon' do
              = fa_icon 'image lg', class: 'image-icon'
              = f.file_field :image, style: "display:none;"
          = f.submit 'Send', class: 'formarea__forms__submit-button'









