.container
  = render '/devise/shared/side_bar'
  .chat
    .chat-header
      .chat-header__title
        = @group.name
      .chat-header__edit
        = link_to 'Edit', edit_group_path(@group)
      .chat-header__memberName
        Member：
        - @group.users.each do |user|
          = user.name
    .messages
      - @messages.each do |message|
        = render partial: 'message', locals: {message: message}
      / - else
      /   - @messages.each do |message|
      /     = render partial: 'message', locals: {message: message}
      / = render partial: 'message', collection: @messages, @likes.where(user_id: current_user.id, )
    .formarea
      = form_for [@group, @message], html:{} do |f|
        .formarea__forms
          = f.text_field :content, class: 'formarea__forms__form', placeholder: "type a message"
          .formarea__forms-icon
            = f.label :image, class: 'formarea__forms-icon' do
              = fa_icon 'image lg', class: 'image-icon'
              = f.file_field :image, style: "display:none;"
          = f.submit 'Send', class: 'formarea__forms__submit-button'









